
.home{
	background-color: #e2eefe;
}

.date{
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  margin-bottom: 40px;
  font-family: Sans-serif;
  font-weight: 500;
  float: right;
}

.albumName a:link{
  width:60%;
  height:10%;
  background-color: #13b6ec;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  font-size: 200%;
  font-family: Sans-serif;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 #ffffff;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

.addPictures a:link{
  width:20%;
  height:2%;
  background-color: #13b6ec;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 100%;
  font-family: Sans-serif;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 #ffffff;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

.albumName a:hover{
  box-shadow: inset 400px 0 0 0 #a4d1f2;
  color:#13b6ec;
}

.addPictures a:hover{
  box-shadow: inset 150px 0 0 0 #a4d1f2;
  color:#13b6ec;
}

.albumName a:visited, .addPictures a:visited{
	color:#ffffff;
}

.albumName a:active, .addPictures a:active{
	color:#ffffff
}

.grid{
	display: grid;
	border-radius: 5px;
	grid-template-columns : 50% 50%;
	overflow-wrap: break-word;
	margin-left: 10%;
	margin-right: 10%;
}

.cell{
	background-color: white;
	border-radius: 10px;
    border: 5px solid #13b6ec;
  	padding: 40px;
  	margin: 10px;
}

.dateOthers{
	margin-left: 190px;
	font-size: 100%;
	margin-bottom: 30px;
	font-family: Sans-serif;
    font-weight: 500;
    float: right;
}

.username{
	font-size: 100%;
	font-family: Sans-serif;
    font-weight: 500;
}

.name, .surname{
	font-size: 60%;
	font-family: Sans-serif;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 30px;
}

.addPictures{
	margin-left: 70%;
	margin-top: 13%;
}

.title{
	font-family: Brush Script MT;
	font-weight: 400;
	color: #0000d2;
	text-align: center;
	font-size: 200%;
}

.logout a:link{
  width:fit-content;
  height:fit-content;
  background-color: #13b6ec;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  font-size: 100%;
  font-family: Sans-serif;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 #ffffff;
  border-radius: 10px;
  transition: ease-out 0.3s;
  margin-bottom: 40px;
}

.logout a:hover{
  box-shadow: inset 200px 0 0 0 #ffffff;
  color:#13b6ec;
}

.logout{
	text-align: right;
	width:100%;
}

.titleCreate{
	font-family: Brush Script MT;
	font-weight: 400;
	color: #0000d2;
	margin-left: 13%;
	font-size: 200%;
}

input {
  		border: 2px solid #2a89e2;
  		border-radius: 5px;
		height: 30px;
		margin :1%;
	}
	
input:focus {
		outline: none;
  		border: 3px solid #2a89e2;
}

input[type=submit]{
		width:fit-content;
  		height:fit-content;
  		background-color: #446de8;
		color: #ffffff;
		padding: 6px;
		font-size: 100%;
		font-family: Sans-serif;
		font-weight: 400;
		box-shadow: inset 0 0 0 0 #ffffff;
		border-radius: 10px;
		transition: ease-out 0.3s;
		margin-top: 10px;

	}
	
input[type=submit]:hover{
  		box-shadow: inset 200px 0 0 0 #ffffff;
  		color:#13b6ec;
	}	
	
.title_text{
	font-size: 150%;
  	font-family: Sans-serif;
   	font-weight: 300;
   	color: #446de8;
}

.albumNameOthers a:link{
  width:60%;
  height:10%;
  background-color: #13b6ec;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  font-size: 200%;
  font-family: Sans-serif;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 #ffffff;
  border-radius: 10px;
  transition: ease-out 0.3s;
}

.albumNameOthers a:hover{
  box-shadow: inset 300px 0 0 0 #a4d1f2;
  color:#13b6ec;
}

.albumNameOthers a:visited{
	color:#ffffff;
}

.albumNameOthers a:active{
	color:#ffffff
}

.albumNameOthers{
	float: right;
}