.title{
	font-family: Brush Script MT;
	font-weight: 400;
	color: #0000d2;
	text-align: center;
	font-size: 300%;
}

.images_grid{
	display: grid;
	border-radius: 10px;
	grid-template-columns : 16.7% 16.7% 16.7% 16.7% 16.6% 16.6%;
	overflow-wrap: break-word;
	padding: 50px;
	background-color: #ffffff;
}

.thumbnail {
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: .3s ease-in-out;
}
.thumbnail:hover{
	transform: scale(1.1);
}

.home, .text {
  	width:fit-content;
  	height:fit-content;
 	background-color: #13b6ec;
	color: #ffffff;
	padding: 20px;
	font-size: 150%;
	font-family: Sans-serif;
	font-weight: 400;
	box-shadow: inset 0 0 0 0 #ffffff;
	border-radius: 10px;
	transition: ease-out 0.3s;
	text-decoration:none;
	border: 2px solid #13b6ec;
}

.home-margin{
	margin-left: 85%;
}
	
.text:hover, .home:hover{
 	box-shadow: inset 200px 0 0 0 #ffffff;
 	color:#13b6ec;
}

.successive{
	margin-left: 50%;
	margin-bottom: 2%;
    margin-top: 2%;
}

.successive_2{
	margin-left: 5%;
	margin-bottom: 2%;
    margin-top: 2%;
}

.precedent{
	margin-left: 37%;
	margin-bottom: 2%;
    margin-top: 2%;
}

.prec_succ{
	margin-bottom: 2%;
    margin-top: 2%;
}

.cell{
	background-color: white;
	border-radius: 10px;
  	padding: 5px;
  	margin: 1%;
}

.advise{
	font-family: Brush Script MT;
	font-weight: 300;
	color: #0000d2;
	font-size: 200%;
	margin-bottom: 1%;
}
