<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to the Home Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/Style/albumTablesStyle.css}"/>
</head>
<body class = "home">
	<div class= "logout"><a th:href="@{/Logout}">Logout</a></div>	
	
		<div th:if = "${myAlbums.size()==0}"><h2 class= "title">You don't have any album yet. You can create a new one here:</h2>
			<form style = "text-align:center;" th:action = "@{/CreateAlbum}" method = "POST">
	 	 		<span class = "title_text">Title:<input type = "text" name = "title" required/></span>
	 	 		<input type = "submit" value="Create Album">
	 	 	</form>
 	 	</div>
 	 	
 	 	<div th:if = "${myAlbums.size !=0}"><h2 class= "title">Here you can see your albums</h2>
	 			
	 		<!-- Grid containing myAlbums -->
			<div class="grid" th:if = "${myAlbums.size()>0}">

			  <div th:each = "album : ${myAlbums}" class = "cell">		  		
				    <span class="albumName"><a th:href="@{/GoToAlbumPage(album=${album.id}, j=0)}" th:text = "${album.title}"></a></span>
				    <span class="date" th:text="${#dates.format(album.date, 'dd-MM-yyyy')}"></span>
				    <br>
				    <div class="addPictures"><a th:href="@{/GoToAddPictures(album=${album.id}, j=0)}">Add New Pictures</a></div>
			  </div>
		 	 </div>
		 	<!-- Form to create a new album -->	
		 	<h3 class = "title">You can create a new album here:</h3>	
	 	 	<form style = "text-align:center;" th:action = "@{/CreateAlbum}" method = "POST">
	 	 		<span class = "title_text">Title:<input type = "text" name = "title" required/></span>
	 	 		<input type = "submit" value="Create Album">
	 	 	</form>
	 	 </div>
	  
	
		<div th:if = "${othersAlbums.size() == 0}"><h2 class= "title">Looks like nobody has created any album. Wait for the other users to publish their photos!</h2></div>
		
		<!-- Grid containing others albums -->
		<div th:if = "${othersAlbums.size() > 0}"><h2 class= "title">Here you can see other users' albums</h2>
			<div class="grid">
			
			  <div th:each = "i : ${#numbers.sequence(0, numOfAlbums-1)}" class = "cell">
				    <div> <span class="username" th:text = "${otherUsers[i].username}"></span>
				    <span class="dateOthers" th:text="${#dates.format(othersAlbums[i].date, 'dd-MM-yyyy')}"></span>
				    </div>
				    <div> <span class="name" th:text = "${otherUsers[i].name}"></span>
				    <span class="surname" th:text = "${otherUsers[i].surname}"></span>
				    </div>
				    <br><br>
				    <div class="albumNameOthers"><a th:href="@{/GoToAlbumPage(album=${othersAlbums[i].id}, j=0)}" th:text = "${othersAlbums[i].title}"/></a></div>
				    
			  </div>
	 	 	</div>
 	 	</div>
		

</body>
</html>