<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Album Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/Style/picturesStyle.css}"/>
</head>
<body>
	
	<!-- Link to go back to the home page -->
	<div class = "home"><a th:href="@{/GoToHomePage}">Home Page</a></div>	

	<div th:if="${images == null || images.size() == 0}">
		<div class="title">Looks like there are no images in this album yet!</div>
	</div>	
	
	<div th:if="${images != null && images.size() != 0}">
		<h2 th:text = ${album.title} class = "title"></h2>
		
		<!-- Case in which there are more than 5 images so we need the button successive -->
		<div th:if = "${((j + 5) < numOfImages)&(j==0)}">  
			<div class = "thumbnails_grid_6_successive">
				<div th:each = "i : ${#numbers.sequence(j, j+4)}" style= "margin:10px;">
					<a href = "#" th:href="@{/GoToAlbumPage(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
					<br> <p th:text= "${images[i].title}" style="text-align:center; margin-top:10px;"></p>
				</div>
				<div th:if = "${imageToShow} != null" class="successive_6"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}+5, imageID = ${imageToShow.id})}" class="text">Successive</a></div>
				<div th:if = "${imageToShow} == null"class="successive_6"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}+5)}" class="text">Successive</a></div>
			</div>
		</div>
		
		<!-- Case in which there both precedent and successive images so we need the button successive and the button precedent-->
		<div th:if = "${((j + 5) < numOfImages)&(j>0)}">
			<div class = "thumbnails_grid_7">
				<div th:if = "${imageToShow} != null" class="precedent_7"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}-5, imageID = ${imageToShow.id})}" class="text">Precedent</a></div>
				<div th:if = "${imageToShow} == null"class="precedent_7"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}-5)}" class="text">Precedent</a></div>
				<div th:each = "i : ${#numbers.sequence(j, j+4)}" style= "margin:10px;">
					<a th:href="@{/GoToAlbumPage(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
					<br>
					<p th:text = "${images[i].title}" style="text-align:center; margin-top:10px;"></p>
				</div>
				<div th:if = "${imageToShow} != null" class="successive_7"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}+5, imageID = ${imageToShow.id})}" class="text">Successive</a></div>
				<div th:if = "${imageToShow} == null"class="successive_7"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}+5)}" class="text">Successive</a></div>
			</div>
		</div>
		
		<!-- Case in which there are precedent images so we need the button precedent -->
		<div th:if = "${((j + 5) >= numOfImages)&(j>0)}">
			<div class = "thumbnails_grid_6_precedent">
				<div th:if = "${imageToShow} != null" class="precedent_6"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}-5, imageID = ${imageToShow.id})}" class="text">Precedent</a></div>
				<div th:if = "${imageToShow} == null"class="precedent_6"><a th:href = "@{/GoToAlbumPage(album = ${album.id}, j = ${j}-5)}" class="text">Precedent</a></div>
				<div th:each = "i : ${#numbers.sequence(j, numOfImages-1)}"  style= "margin:10px;">
					<a th:href="@{/GoToAlbumPage(album = ${album.id}, imageID=${images[i].id}, j=${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
					<br>
					<p th:text = "${images[i].title}" style="text-align:center; margin-top:10px;"></p>
				</div>
			</div>
		</div>
		
		<!-- Case in which there are 5 images or less so we don't need any button to scroll the gallery -->
		<div th:if = "${((j + 5) >= numOfImages)&(j==0)}">
			<div class = "thumbnails_grid_5orless">
				<div th:each = "i : ${#numbers.sequence(j, numOfImages-1)}" style= "margin:10px;">
					<a th:href="@{/GoToAlbumPage(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
					<br>
					<p th:text = "${images[i].title}" style="text-align:center; margin-top:10px;"></p>
				</div>
			</div>
		</div>
	
	<!-- Big image management -->		
	<div th:if = "${imageToShow} != null">
		<div class = "big_image">
			<div>
				<h2 class = "title" th:text = "${imageToShow.title}"></h2>
				<img th:src = "@{${imageToShow.path}}" class = "image">
				<p th:text = "${#dates.format(imageToShow.date, 'dd-MM-yyyy')}"></p>
				<p th:text = "${imageToShow.description}"></p>
			</div>
		</div>
	
	<!-- Comments management -->	
	<div th:if = "${comments == null || comments.size() == 0}"><p class = "comment_title">There are no comments yet for this picture.</p></div>
	
	<div th:if = "${comments != null && comments.size() != 0}"><p class = "comment_title">Comments</p>	 
	
	  <div th:each = "comment : ${comments}" class="comments_grid">
		    <div class = "column" th:text = "${comment.value.username}"></div>
		    <div class = "column" th:text = "${comment.key.text}"></div>
	  </div>
	  
  	</div>
	
	<!-- Comemnts form -->
		<form th:action = "@{/CreateComment}" method = "POST">
			<p class="comment_title">You can leave a comment here:</p>
			<input type = "hidden" name = "imageId" th:value = "${imageToShow.id}">
			<input type = "hidden" name = "album" th:value = "${album.id}">
			<input type = "hidden" name = "j" th:value = "${j}">
			<textarea name ="commentText" required></textarea>
			<br>
			<div class = "position"><input class = "send" type="submit" name="submit" value="Send"></div>
		</form>
		
	</div>	
	</div>

</body>

</html>

