<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Choose Pictures</title>
<link rel="stylesheet" type="text/css" th:href="@{/Style/chooseImagesStyle.css}"/>
</head>
<body style = "background-color: #e2eefe">	

	<div class = "home-margin"><a th:href="@{/GoToHomePage}" class = "home">Home Page</a></div>	

	<div th:if="${images == null || images.size() == 0}">
			<h1 class="title">Looks like you have no more pictures available.<br>Add new pictures to the database in order to fill your albums!</h1>
	</div>	
	
	<div th:if="${images != null && images.size() != 0}">
		<h2 class= "title">Choose the pictures you want to add to the album:</h2>
		<h2 class= "title" th:text = "${album.title}"></h2>
		
		<div th:if = "${((j + 18) < numOfImages)&(j==0)}">  
			<div class = "images_grid">
				<div th:each = "i : ${#numbers.sequence(j, j+17)}" class = "cell">
					<a th:href="@{/AddToAlbum(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
				</div>
			</div>
			<div class="successive"><a th:href = "@{/GoToAddPictures(album = ${album.id}, j = ${j}+18)}" class="text">Successive</a></div>
		</div>
			
			
		<div th:if = "${((j + 18) < numOfImages)&(j>0)}">
			<div class = "images_grid">
				<div th:each = "i : ${#numbers.sequence(j, j+17)}" class = "cell">
					<a th:href="@{/AddToAlbum(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
				</div>
			</div>
			<div class = "prec_succ">
				<span class="precedent"><a th:href = "@{/GoToAddPictures(album = ${album.id}, j = ${j}-18, flag = 0)}" class="text">Precedent</a></span>
				<span class="successive_2"><a th:href = "@{/GoToAddPictures(album = ${album.id}, j = ${j}+18, flag = 0)}" class = "text">Successive</a></span>
			</div>
		</div>
			
		<div th:if = "${((j + 18) >= numOfImages)&(j>0)}">
			
			<div class = "images_grid">
				<div th:each = "i : ${#numbers.sequence(j, numOfImages-1)}" class = "cell">
					<a th:href="@{/AddToAlbum(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
				</div>
			</div>
			
			<div class="precedent"><a th:href = "@{/GoToAddPictures(album = ${album.id}, j = ${j}-18, flag = 0)}" class="text">Precedent</a></div>
		</div>
			
		<div th:if = "${((j + 18) >= numOfImages)&(j==0)}">
		
			<div class = "images_grid">
				<div th:each = "i : ${#numbers.sequence(j, numOfImages-1)}" class = "cell">
					<a th:href="@{/AddToAlbum(album = ${album.id}, imageID=${images[i].id}, j = ${j})}"> <img th:src = "@{${images[i].path}}" class = "thumbnail"></a>
				</div>
			</div>
			
		</div>
	</div>

</body>
</html>